*{
    margin:0;
    padding:0;
}
.whole{
    background:linear-gradient(rgba(0,255,0,.9),rgba(255,0,0,.9),rgba(0,0,255,.9));
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    gap:30px;
}
.wel{
    color:rgb(0, 0, 0);
    font-size:70px;
    font-weight: bold;
    display:flex;
    margin-top:-350px;
    display:flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position:absolute;
    animation: flow 8s infinite;

}
.start{
    width:360px;
    height:80px;
    color:rgb(0, 255, 8);
    background:white;
    border:3px solid rgb(0, 0, 255);
    border-radius:30px;
    font-size:40px;
    white-space: nowrap;
    font-weight: bold;
    transition:all .2s;
    cursor:pointer;
    animation: rgb 3s infinite;
}
.start:hover , .start.active{
    width:360px;
    height:80px;
    color:rgb(255, 255, 0);
    background:rgb(0, 0, 0);
    border:3px solid rgb(64, 255, 0);
    border-radius:30px;
    font-size:45px;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@keyframes flow{
    0%{
        color:rgb(0, 0, 0);
        font-size:70px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0,0,0, 0.8);
    }
    20%{
        color:yellow;
        font-size:75px;
        text-shadow: 0 0 10px red, 0 0 20px yellow;
    }
    40%{
        color:rgb(255, 0, 0);
        font-size:80px;
        text-shadow: 0 0 10px rgb(242, 255, 0), 0 0 20px rgb(25, 20, 20);
    }
    60%{
        color:rgb(0, 217, 255);
        font-size:75px;
        text-shadow: 0 0 10px rgb(25, 20, 20), 0 0 20px rgb(25, 20, 20);
    }
    80%{
        color:yellow;
        font-size:70px;
        text-shadow: 0 0 10px rgb(25, 20, 20), 0 0 20px yellow;
    }
    100%{
        color:rgb(0, 217, 255);
        font-size:75px;
        text-shadow: 0 0 10px rgba(25, 20, 20), 0 0 20px rgba(25, 20, 20);
    }
}
@keyframes rgb{
    33.33%{
        color:rgb(0, 255, 0);
    }
    66.66%{
        color:red;
    }
    100%{
        color:blue;
    }

}